# Better Auth configuration
BETTER_AUTH_SECRET=yourSecretKey
NEXT_PUBLIC_BETTER_AUTH_URL=yourAuthURL

# Database configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=yourUsername
DB_PASSWORD=yourPassword
DB_NAME=yourDatabaseName